
.tela1{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    
}
.video {
    display: flex;
    position: relative;
    width: 100%;
}
.content {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    position: fixed;
    display: block;
    color: white;
    
}
.tela2 {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    
    
}