
.tela1{
    width: 100%;
    height: 100%;
    
    display: flex;
    
}
.video {
    top: 0;
    left: 0;
    position: relative;
    z-index: -1000;
    width: 100%;
    object-fit: cover;
}
.content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(119, 22, 22);
}
.tela2 {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container {
    
    
}