
.tela1{
    width: 100%;
    height: 100%;
    
    
    
}
.video {
    
    display: flex;
    z-index: -1000;
    width: 100%;
    height: 100%;
    
}
.content {
    flex-direction: column;
    text-align: center;
    color: rgb(20, 10, 10);
}
.tela2 {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}